<aside class="sidebar">
  <div class="sidebar-logo text-center">
    <img class="img-fluid" src="assets/images/dashboard/logo.png" alt="logo.png">
    <button class="d-none" (click)="closeSidebarMenu();" id="close_sidebar_btn">&times;</button>
  </div>
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li>
        <a (click)="showActiveChanged(1)" [ngClass]="{'active':(show_active === 1)}" [routerLink]="['dashboard']" routerLinkActive="dashboard"  >
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-dashboard.svg" alt="icon-dashboard.svg">
          Dashboard
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(2)" [ngClass]="{'active':(show_active === 2)}" [routerLink]="['upcoming-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-upcoming-jobs.svg" alt="icon-upcoming-jobs.svg">
          Upcoming Services (Jobs)
        </a>
      </li>
      <!-- <li>
        <a (click)="showActiveChanged(3)" [ngClass]="{'active':(show_active === 3)}" [routerLink]="['claims']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-maximus.svg" alt="icon-maximus.svg">
          Maximus Claim(s)
        </a>
      </li> -->
      <li>
        <a (click)="showActiveChanged(4)" [ngClass]="{'active':(show_active === 4)}" [routerLink]="['current-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-current-jobs.svg" alt="icon-current-jobs.svg">
          Current Job(s)
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(5)" [ngClass]="{'active':(show_active === 5)}" [routerLink]="['appointments']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-appointments.svg" alt="icon-appointments.svg">
          Appointments
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(6)" [ngClass]="{'active':(show_active === 6)}" [routerLink]="['estimates']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-estimation.svg" alt="icon-estimation.svg">
          Estimates
        </a>
      </li>
      <!-- <li>
        <a (click)="showActiveChanged(7)" [ngClass]="{'active':(show_active === 7)}" [routerLink]="['my-signature']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-my-signature.svg" alt="icon-my-signature.svg">
          My Signature
        </a>
      </li> -->
      <li>
        <a class="clr-dark-grey-2" (click)="showActiveChanged(8)" [ngClass]="{'active':(show_active === 8)}" [routerLink]="['completed-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-completed-jobs-disabled.svg" alt="icon-completed-jobs-disabled.svg">
          Completed Jobs(s)
        </a>
      </li>
    </ul>
    <ul class="menu-items-hidden-sidebar">
      <li>
        <a (click)="showActiveChanged(1);closeSidebarMenu();" [ngClass]="{'active':(show_active === 1)}" [routerLink]="['dashboard']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-dashboard.svg" alt="icon-dashboard.svg">
          Dashboard
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(2);closeSidebarMenu();" [ngClass]="{'active':(show_active === 2)}" [routerLink]="['upcoming-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-upcoming-jobs.svg" alt="icon-upcoming-jobs.svg">
          Upcoming Services (Jobs)
        </a>
      </li>
      <!-- <li>
        <a (click)="showActiveChanged(3)" [ngClass]="{'active':(show_active === 3)}" [routerLink]="['claims']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-maximus.svg" alt="icon-maximus.svg">
          Maximus Claim(s)
        </a>
      </li> -->
      <li>
        <a (click)="showActiveChanged(4);closeSidebarMenu();" [ngClass]="{'active':(show_active === 4)}" [routerLink]="['current-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-current-jobs.svg" alt="icon-current-jobs.svg">
          Current Job(s)
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(5);closeSidebarMenu();" [ngClass]="{'active':(show_active === 5)}" [routerLink]="['appointments']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-appointments.svg" alt="icon-appointments.svg">
          Appointments
        </a>
      </li>
      <li>
        <a (click)="showActiveChanged(6);closeSidebarMenu();" [ngClass]="{'active':(show_active === 6)}" [routerLink]="['estimates']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-estimation.svg" alt="icon-estimation.svg">
          Estimates
        </a>
      </li>
      <!-- <li>
        <a (click)="showActiveChanged(7)" [ngClass]="{'active':(show_active === 7)}" [routerLink]="['my-signature']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-my-signature.svg" alt="icon-my-signature.svg">
          My Signature
        </a>
      </li> -->
      <!-- <li>
        <a class="clr-dark-grey-2" (click)="showActiveChanged(8)" [ngClass]="{'active':(show_active === 8)}" [routerLink]="['completed-jobs']">
          <img src="assets/images/dashboard/icons/dashboard-icons/icon-completed-jobs-disabled.svg" alt="icon-completed-jobs-disabled.svg">
          Completed Jobs(s)
        </a>
      </li> -->
    </ul>


    <ul class="logout">
      <li>
        <a (click)="logout();closeSidebarMenu();">
          <img src="assets/images/dashboard/icon-logout.svg" alt="icon-logout.svg">
          Logout
        </a>
      </li>
      <li>
        <a (click)="closeSidebarMenu();">
          <span class="small m-r-9">Powered By</span>
          <img src="assets/images/dashboard/odie-logo.svg" alt="odie-logo.svg">
        </a>
      </li>
    </ul>
  </div>
</aside>
