@import "../../../scss/variables";
aside.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 315px;
  background-color: #FFFFFF;
  z-index: 1000;
  overflow: hidden;
  transition: all .7s ease;
  box-shadow: 4px 0px 10px #0000001A;
  .sidebar-logo{
    padding: 40px 68px;
    border-bottom: 1px solid $BdrLightgrey;
    margin-bottom: 9px;
    position: relative;

    #close_sidebar_btn{
      position: absolute;
      top: 5%;
      right: 1%;
      line-height: 0.6;
      background: transparent;
      border: 0;
      font-size: 50px;
    }
  }
  .sidebar-menu{
    height: 100%;

    ul{
      li{
        a{
          img{
            margin-right: 9px;
          }
        }
      }
    }
    ul.menu-items, ul.menu-items-hidden-sidebar{
      padding-left: 9px;
      li{
        a{
          padding: 12px 20px 12px 40px;
          color: $SidebarAnchorClr;
          display: flex;
          align-items: center;
          transition: all .4s ease;
        }
        a.active{
          background-color: #F5F5F5 ;
          border-top-left-radius: 33px;
          border-bottom-left-radius: 33px;
        }
      }
    }
    ul.completed-jobs{
      margin-top: 5px;
      li{
        margin-left: 46px;
        padding: 23px 0;
        border-top: 2px solid #EFEFEF;

        a{
          display: flex;
          align-items: center;
          color: #AAAAAA;
        }
      }
    }
    ul.logout{
      height: 54%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      li{
        margin-left: 46px;
        a{
          display: flex;
          align-items: center;
          color: $SidebarAnchorClr;
        }

        &:first-child{
          margin-bottom: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px){
  ul.menu-items-hidden-sidebar{
    display: none;
  }
}

@media screen and (max-width: 1199px){
  aside.sidebar{
    width: 0;
  }
  ul.menu-items{
    display: none;
  }
}
@media screen and (max-width: 576px){
  aside.sidebar{
    width: 0;
    .sidebar-menu{
      ul.logout{
        height: 40%;
      }
    }
  }
}
@media screen and (max-width: 320px){
  aside.sidebar{
    width: 0;
    .sidebar-menu{
      ul.logout{
        height: 29%;
      }
    }
  }
}

